CompileFlags:
  CompilationDatabase: build
  Add:
    - -std=c++17
    - -I/usr/include/c++/13
    - -I/usr/include/x86_64-linux-gnu/c++/13
    - -I/usr/lib/gcc/x86_64-linux-gnu/13/include

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  ClangTidy:
    Remove:
      - modernize-use-nodiscard
      - cppcoreguidelines-pro-type-member-init
      - readability-convert-member-functions-to-static
      - performance-enum-size
      - cppcoreguidelines-special-member-functions
      - modernize-use-c-arrays
      - readability-implicit-bool-conversion
      - readability-named-parameter
      - bugprone-easily-swappable-parameters