---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
AlignTrailingComments: true
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: Align
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: LogicalBlock
IndentCaseLabels: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ReflowComments: true
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++17